*.sqlite*
/vendor
/node_modules
.env
.env.*
!.env.example
/storage
/storage/*.key
/public/storage
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.phpunit.result.cache
/.idea
/.vscode
.DS_Store
Thumbs.db
*.sqlite
*.sqlite-journal